@import "tailwindcss";

html {
  height: 100vh;
  width: 100%;
  font-family: sans-serif;
  font-size: 16px;
}
body {
  padding-block: 52px;
  padding-inline: 50px;
  background: linear-gradient(
    90deg,
    rgba(25, 36, 55, 1) 0%,
    rgba(28, 31, 44, 1) 100%
  );
}
